/* lw-button, lw-repeat-button, lw-toggle-button, lw-link-button */

lw-button, lw-toggle-button, lw-repeat-button {
    --lw-button-flat-color: var(--lw-background-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: var(--lw-button-text-transform);
    font-weight: 500;
    letter-spacing: .08929em;
    overflow: hidden;
    border-color: var(--lw-border);
    border-top-left-radius: var(--lw-border-top-left-radius);
    border-top-right-radius: var(--lw-border-top-right-radius);
    border-bottom-left-radius: var(--lw-border-bottom-left-radius);
    border-bottom-right-radius: var(--lw-border-bottom-right-radius);
    border-width: var(--lw-border-width);
    border-style: solid;
}

lw-button.lw-element, lw-toggle-button.lw-element, lw-repeat-button.lw-element {
    display: inline-flex;
}

lw-button.primary, lw-toggle-button.primary, lw-repeat-button.primary {
    --lw-button-opacity-hover: 0.75;
    --lw-button-opacity-focus: 0.7;
    --lw-button-opacity-active: 0.65;
    --lw-background: var(--lw-primary);
    --lw-border: var(--lw-primary);
    --lw-background-color: var(--lw-primary-color);
    --lw-ui-state-hover: var(--lw-primary);
    --lw-ui-state-hover: var(--lw-primary);
    --lw-ui-state-color-hover: var(--lw-primary-color);
    --lw-ui-state-active: var(--lw-primary);
    --lw-ui-state-active: var(--lw-primary);
    --lw-ui-state-color-active: var(--lw-primary-color);
    --lw-ui-state-focus: var(--lw-primary);
    --lw-ui-state-focus: var(--lw-primary);
    --lw-ui-state-color-focus: var(--lw-primary-color);
    --lw-button-flat-color: var(--lw-primary);
    --lw-button-outlined-color: var(--lw-primary);
    --lw-button-outlined-border: var(--lw-primary);
}

lw-button.secondary, lw-toggle-button.secondary, lw-repeat-button.secondary {
    --lw-button-opacity-hover: 0.75;
    --lw-button-opacity-focus: 0.7;
    --lw-button-opacity-active: 0.65;
    --lw-background: var(--lw-secondary);
    --lw-border: var(--lw-secondary);
    --lw-background-color: var(--lw-secondary-color);
    --lw-ui-state-hover: var(--lw-secondary);
    --lw-ui-state-hover: var(--lw-secondary);
    --lw-ui-state-color-hover: var(--lw-secondary-color);
    --lw-ui-state-active: var(--lw-secondary);
    --lw-ui-state-active: var(--lw-secondary);
    --lw-ui-state-color-active: var(--lw-secondary-color);
    --lw-ui-state-focus: var(--lw-secondary);
    --lw-ui-state-focus: var(--lw-secondary);
    --lw-ui-state-color-focus: var(--lw-secondary-color);
    --lw-button-flat-color: var(--lw-secondary);
    --lw-button-outlined-color: var(--lw-secondary);
    --lw-button-outlined-border: var(--lw-secondary);
}

lw-button.error, lw-toggle-button.error, lw-repeat-button.error {
    --lw-button-opacity-hover: 0.75;
    --lw-button-opacity-focus: 0.7;
    --lw-button-opacity-active: 0.65;
    --lw-background: var(--lw-error);
    --lw-border: var(--lw-error);
    --lw-background-color: var(--lw-error-color);
    --lw-ui-state-hover: var(--lw-error);
    --lw-ui-state-hover: var(--lw-error);
    --lw-ui-state-color-hover: var(--lw-error-color);
    --lw-ui-state-active: var(--lw-error);
    --lw-ui-state-active: var(--lw-error);
    --lw-ui-state-color-active: var(--lw-error-color);
    --lw-ui-state-focus: var(--lw-error);
    --lw-ui-state-focus: var(--lw-error);
    --lw-ui-state-color-focus: var(--lw-error-color);
    --lw-button-flat-color: var(--lw-error);
    --lw-button-outlined-color: var(--lw-error);
    --lw-button-outlined-border: var(--lw-error);
}

lw-button.success, lw-toggle-button.success, lw-repeat-button.success {
    --lw-button-opacity-hover: 0.75;
    --lw-button-opacity-focus: 0.7;
    --lw-button-opacity-active: 0.65;
    --lw-background: var(--lw-success);
    --lw-border: var(--lw-success);
    --lw-background-color: var(--lw-success-color);
    --lw-ui-state-hover: var(--lw-success);
    --lw-ui-state-border-hover: var(--lw-success);
    --lw-ui-state-color-hover: var(--lw-success-color);
    --lw-ui-state-active: var(--lw-success);
    --lw-ui-state-active: var(--lw-success);
    --lw-ui-state-color-active: var(--lw-success-color);
    --lw-ui-state-focus: var(--lw-success);
    --lw-ui-state-border-focus: var(--lw-success);
    --lw-ui-state-color-focus: var(--lw-success-color);
    --lw-button-flat-color: var(--lw-success);
    --lw-button-outlined-color: var(--lw-success);
    --lw-button-outlined-border: var(--lw-success);
}

button.lw-button .lw-ripple {
    background-color: var(--lw-background-color);
    opacity: 0.5;
}

button.lw-button {
    position: relative;
    padding: var(--lw-button-padding);
    text-align: inherit;
    vertical-align: inherit;
    cursor: inherit;
    text-transform: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    background: inherit;
    color: inherit;
    border-radius: 0px;
    border: none;
    -webkit-font-smoothing: antialiased;
    opacity: var(--lw-button-opacity);
    white-space: nowrap;
    line-height: 1.2;
    border-radius: inherit;
}

.lw-scroll-button .lw-button {
    padding: 0px;
}

lw-button.large button, lw-toggle-button.large button, lw-repeat-button.large button, button.lw-button.large {
    padding: var(--lw-button-large-padding);
    font-size: var(--lw-button-large-font-size);
    line-height: 1.3333333;
    min-height: initial;
}

lw-button.small button, lw-toggle-button.small button, lw-repeat-button.small button, button.lw-button.small {
    padding: var(--lw-button-small-padding);
    font-size: var(--lw-button-small-font-size);
    min-height: initial;
    line-height: 1.5;
}

lw-button.very-small button, lw-toggle-button.very-small button, lw-repeat-button.very-small button, button.lw-button.very-small {
    padding: var(--lw-button-very-small-padding);
    font-size: var(--lw-button-very-small-font-size);
    line-height: 1.5;
    min-height: initial;
}

/*hover State*/

lw-button[hover], lw-toggle-button[hover], lw-repeat-button[hover] {
    color: var(--lw-ui-state-color-hover);
    border-color: var(--lw-ui-state-hover);
    background-color: var(--lw-ui-state-hover);
    transition: background-color 100ms linear, box-shadow 280ms ease-in-out;
    opacity: var(--lw-button-opacity-hover);
}

lw-button[active], lw-toggle-button[active], lw-repeat-button[active] {
    color: var(--lw-ui-state-color-active);
    border-color: var(--lw-ui-state-active);
    background-color: var(--lw-ui-state-active);
    transition: background-color 100ms linear, box-shadow 280ms ease-in-out;
    opacity: var(--lw-button-opacity-active);
}

lw-toggle-button[checked], [lw-toggle-button][checked] {
    color: var(--lw-ui-state-color-selected);
    border-color: var(--lw-ui-state-selected);
    background-color: var(--lw-ui-state-selected);
}

lw-button[focus], lw-toggle-button[focus], lw-repeat-button[focus] {
    color: var(--lw-ui-state-color-focus);
    border-color: var(--lw-ui-state-focus);
    background-color: var(--lw-ui-state-focus);
    opacity: var(--lw-button-opacity-focus);
}

lw-button.flat .lw-ripple, lw-toggle-button.flat .lw-ripple, lw-repeat-button.flat .lw-ripple, :host(.lw-button.flat) .lw-ripple {
    background-color: var(--lw-button-flat-color);
}

lw-button.flat, lw-toggle-button.flat, lw-repeat-button.flat {
    color: var(--lw-button-flat-color);
    background: transparent;
    border-color: transparent;
}

lw-button.flat[hover], lw-toggle-button.flat[hover], lw-repeat-button.flat[hover] {
    color: var(--lw-button-flat-color);
    background: transparent;
    border-color: transparent;
}

lw-button.flat[active], lw-toggle-button.flat[active], lw-repeat-button.flat[active] {
    color: var(--lw-button-flat-color);
    background: transparent;
    border-color: transparent;
}

lw-button.flat[focus], lw-toggle-button.flat[focus], lw-repeat-button.flat[focus] {
    border-color: var(--lw-ui-state-focus);
}

/*Outlined Button - Checked State*/

lw-toggle-button.flat[checked] {
    text-decoration: underline;
    background: var(--lw-ui-state-active);
}

lw-button.outlined .lw-ripple, lw-toggle-button.outlined .lw-ripple, lw-repeat-button.outlined .lw-ripple, :host(.lw-button.outlined) .lw-ripple {
    background-color: var(--lw-button-outlined-color);
}

lw-button.outlined, lw-toggle-button.outlined, lw-repeat-button.outlined {
    color: var(--lw-button-outlined-color);
    border-color: var(--lw-button-outlined-border);
    background: transparent;
    border-width: calc(2 * var(--lw-border-width));
}

/*Outlined Button - Hover State*/

lw-button.outlined[hover], lw-toggle-button.outlined[hover], lw-repeat-button.outlined[hover] {
    color: var(--lw-button-outlined-color);
    border-color: var(--lw-button-outlined-border);
    background: transparent;
}

/*Outlined Button - Active State*/

lw-button.outlined[active], lw-toggle-button.outlined[active], lw-repeat-button.outlined[active] {
    color: var(--lw-button-outlined-color);
    border-color: var(--lw-button-outlined-border);
    background: transparent;
}

/*Outlined Button - focus State*/

lw-button.outlined[focus], lw-toggle-button.outlined[focus], lw-repeat-button.outlined[focus] {
    color: var(--lw-button-outlined-color);
    border-color: var(--lw-ui-state-focus);
    background: transparent;
}

/*Outlined Button - Checked State*/

lw-toggle-button.outlined[checked] {
    color: var(--lw-ui-state-color-active);
    border-color: var(--lw-ui-state-active);
    background: var(--lw-ui-state-active);
}

/*Raised Button*/

lw-button.raised, lw-toggle-button.raised, lw-repeat-button.raised {
    box-shadow: var(--lw-elevation-2);
    transition: background-color 100ms linear, box-shadow 280ms ease-in-out;
}

lw-button.raised[hover], lw-toggle-button.raised[hover], lw-repeat-button.raised[hover] {
    box-shadow: var(--lw-elevation-4);
}

lw-button.raised button[active], lw-toggle-button.raised[active], lw-toggle-button.raised[checked], lw-repeat-button.raised[active] {
    box-shadow: var(--lw-elevation-8);
}

lw-button.raised[focus], lw-toggle-button.raised[focus]:not([checked]), lw-repeat-button.raised[focus] {
    box-shadow: var(--lw-elevation-6);
}

/*Floating Button*/

lw-button.floating, lw-toggle-button.floating, lw-repeat-button.floating {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    box-shadow: var(--lw-elevation-4);
    transition: background-color 100ms linear, box-shadow 280ms ease-in-out;
}

lw-button.floating[hover], lw-toggle-button.floating[hover], lw-repeat-button.floating[hover] {
    box-shadow: var(--lw-elevation-6);
}

lw-button.floating[active], lw-toggle-button.floating[active], lw-toggle-button.floating[checked], lw-repeat-button.floating[active] {
    box-shadow: var(--lw-elevation-12);
}

lw-button.floating[focus], lw-toggle-button.floating[focus]:not([checked]), lw-repeat-button.floating[focus] {
    box-shadow: var(--lw-elevation-6);
}

/*Button, Toggle Button, Repeat Button Disabled State*/

lw-button[disabled], lw-toggle-button[disabled], lw-repeat-button[disabled] {
    color: var(--lw-disabled-color);
    border-color: var(--lw-disabled);
    background-color: var(--lw-disabled);
    cursor: default;
    --lw-background: var(--lw-disabled);
    --lw-border: var(--lw-disabled);
    --lw-background-color: var(--lw-disabled-color);
}

button.lw-button[type]:not(.lw-container) {
    border-color: var(--lw-border);
    border-top-left-radius: var(--lw-border-top-left-radius);
    border-top-right-radius: var(--lw-border-top-right-radius);
    border-bottom-left-radius: var(--lw-border-bottom-left-radius);
    border-bottom-right-radius: var(--lw-border-bottom-right-radius);
    border-width: var(--lw-border-width);
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: var(--lw-button-text-transform);
    font-weight: 500;
    letter-spacing: .08929em;
    overflow: hidden;
    font-style: var(--lw-font-style);
    font-size: var(--lw-font-size);
    background: var(--lw-background);
    outline: none;
}

button.lw-button[type]:hover {
    color: var(--lw-ui-state-color-hover);
    border-color: var(--lw-ui-state-border-hover);
    background-color: var(--lw-ui-state-hover);
}

button.lw-button[type]:active {
    color: var(--lw-ui-state-color-active);
    border-color: var(--lw-ui-state-border-active);
    background-color: var(--lw-ui-state-active);
}

lw-toggle-button .lw-container, [lw-toggle-button] .lw-container {
    font-weight: inherit;
    font-style: inherit;
}

lw-button button::-moz-focus-inner, lw-toggle-button button::-moz-focus-inner, lw-repeat-button button::-moz-focus-inner {
    border: 0;
}

/* --- Right To Left --- */

lw-button[right-to-left], lw-toggle-button[right-to-left], lw-repeat-button[right-to-left] {
    direction: rtl;
}

/* --- */