
/* lw-drop-down-list */

lw-drop-down-list {
    width: var(--lw-drop-down-list-default-width);
    height: var(--lw-drop-down-list-default-height);
    overflow: initial;
    visibility: hidden;
    cursor: pointer;
}

    /* Overrides lwWidgets Framework - base.css selector */
    lw-drop-down-list.lw-element {
        overflow: visible;
        visibility: inherit;
        border-width: 0px;
    }

/*ListBox*/
.lw-drop-down-list lw-list-box {
    position: relative;
    width: 100%;
    height: 100%;
    border: initial;
    padding: initial;
    overflow: hidden;
    font-size: inherit;
    font-family: inherit;
    outline: none;
}

.lw-drop-down-list .lw-buttons-container .lw-action-button .lw-token {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
    user-select: none;
    margin-top: 0;
    margin-bottom: 0;
}


.lw-drop-down-list .lw-drop-down-list-unselect-button {
    /*visibility: hidden;*/
    pointer-events: none;
}

    .lw-drop-down-list .lw-drop-down-list-unselect-button:not(:empty) {
        margin-right: 2px;
    }

    .lw-drop-down-list[selection-display-mode="tokens"] .lw-drop-down-list-unselect-button {
        /*visibility: visible;*/
        pointer-events: initial;
    }

lw-drop-down-list.lw-element .lw-drop-down.lw-visibility-hidden {
    transform: scale(0);
    transition: transform 0.2s ease-in;
    transform-origin: left top 0px;
}
