
/* lw-password-text-box */

lw-password-text-box {
    display: block;
    width: var(--lw-text-box-default-width);
    height: var(--lw-text-box-default-height);
}

    lw-password-text-box.lw-element {
        border: 1px solid var(--lw-border);
        background: var(--lw-background);
        overflow: visible;
        border-radius: var(--lw-border-radius);
    }

.lw-password-text-box > .lw-container {
    position: relative;
}

.lw-password-text-box .lw-content,
.lw-password-text-box .lw-content .lw-input {
    width: 100%;
    height: 100%;
    color: inherit;
    font-family: inherit;
    position: relative;
    overflow: hidden;
}


.lw-password-text-box .lw-password-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    font-size: inherit;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: var(--lw-background-color);
    font-family: var(--lw-font-family-icon);
}

    .lw-password-text-box .lw-password-icon:after {
        content: var(--lw-icon-visibility);
    }

    .lw-password-text-box .lw-password-icon.lw-hidden,
    .lw-password-text-box .lw-content .lw-input::-ms-reveal {
        display: none;
    }

.lw-password-text-box[show-password-strength]:focus .lw-password-short input,
.lw-password-text-box[show-password-strength] .lw-password-short input:focus {
    border-color: var(--lw-error);
}

.lw-password-text-box[show-password-strength]:focus .lw-password-weak input,
.lw-password-text-box[show-password-strength] .lw-password-weak input:focus {
    border-color: orange;
}

.lw-password-text-box[show-password-strength]:focus .lw-password-far input,
.lw-password-text-box[show-password-strength] .lw-password-far input:focus {
    border-color: yellow;
}

.lw-password-text-box[show-password-strength]:focus .lw-password-good input,
.lw-password-text-box[show-password-strength] .lw-password-good input:focus {
    border-color: deepskyblue;
}

.lw-password-text-box[show-password-strength]:focus .lw-password-strong input,
.lw-password-text-box[show-password-strength] .lw-password-strong input:focus {
    border-color: var(--lw-success);
}


.lw-password-text-box lw-tooltip {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

/* --- Right-To-Left --- */

.lw-password-text-box[right-to-left] > .lw-container {
    direction: rtl;
}

.lw-password-text-box[right-to-left] lw-tooltip {
    direction: initial;
}

.lw-password-text-box[right-to-left] .lw-password-icon {
    left: 0;
    right: initial;
}

/* --- */
